{{> header}}

<main>
    <section>
        <label for="progress"></label>
        <progress id="progress" value="25" max="100"></progress>
    </section>

    <form action="/open_questions" method="POST" id="game-personal">
        <fieldset>
            <legend>Just about gaming</legend>

            {{#if uniqueCode}}
            <input name="uniqueCode" type="hidden" value="{{uniqueCode}}">
            {{/if}}

            <label for="favorite-platform">What is your favorite platform?</label>
            {{#if answers.game_personal.favorite-platform }}
            <input type="text" name="favorite-platform" id="favorite-platform"
                value="{{answers.game_personal.favorite-platform}}" autocomplete="off" required>
            {{else }}
            <input type="text" name="favorite-platform" id="favorite-platform" placeholder="Xbox one.."
                autocomplete="off" required>
            {{/if}}

            <label for="average-game-time">What is your average game time in a day?</label>
            {{#if answers.game_personal.average-game-time }}
            <input type="text" name="average-game-time" id="average-game-time"
                value="{{answers.game_personal.average-game-time}}" autocomplete="off" required>
            {{else}}
            <input type="text" name="average-game-time" id="average-game-time" placeholder="2 hours.."
                autocomplete="off" required>
            {{/if}}

            <fieldset>
                <legend>Do you prefer multiplayer games or to go solo?</legend>

                {{#ifEqual answers.game_personal.prefer "multiplayer" }}
                <input type="radio" name="prefer" id="multiplayer" value="multi-or-solo" checked required>
                {{else}}
                <input type="radio" name="prefer" id="multiplayer" value="multi-or-solo" required>
                {{/ifEqual}}
                <label for="man">Multiplayer</label>

                {{#ifEqual answers.game_personal.prefer "solo"}}
                <input type="radio" name="prefer" id="solo" value="multi-or-solo" checked required>
                {{else}}
                <input type="radio" name="prefer" id="solo" value="multi-or-solo" required>
                {{/ifEqual}}
                <label for="woman">Solo</label>

            </fieldset>

            <label for="average-game-time">What is your favorite game genre?</label>
            {{#if answers.game_personal.favorite-game-genre }}
            <input list="game-genres" name="favorite-game-genre" id="favorite-game-genre"
                value="{{answers.game_personal.favorite-game-genre}}" autocomplete="off" required>
            {{else}}
            <input list="game-genres" name="favorite-game-genre" id="favorite-game-genre" placeholder="Shooter.."
                autocomplete="off" required>
            {{/if}}

            <datalist id="game-genres">
                <option value="Sandbox"></option>
                <option value="Real-time strategy"></option>
                <option value="Shooters"></option>
                <option value="Multiplayer online battle arena"></option>
                <option value="Simulation and sports"></option>
                <option value="Puzzlers and party games"></option>
                <option value="Action-adventure"></option>
                <option value="Survival and horror"></option>
                <option value="Platformer"></option>
            </datalist>

            <label for="favorite-game">What is your favorite game?</label>
            {{#if answers.game_personal.favorite.game }}
            <input type="text" name="favorite-game" id="favorite-game" value="{{ansers.game_personal.favorite.game}}"
                autocomplete="off" required>
            {{else}}
            <input type="text" name="favorite-game" id="favorite-game" placeholder="League of Legends.."
                autocomplete="off" required>
            {{/if}}

            <a href="/personal_back">Previous</a>

            <input type="submit" value="Next">

        </fieldset>
    </form>
</main>