{{> header}}

<main>

    <figure id="background-image" title="Gaming survey background image"></figure>

    <article id="progression">
        <label for="progress">Progress: 25%</label>
        <progress id="progress" value="25" max="100">
        </progress>
    </article>

    <form action="/open_questions" method="POST" id="game_personal">
        <fieldset>
            <legend id="head-legend">
                <h1>Just about gaming</h1>
            </legend>

            {{#if uniqueCode}}
            <input name="uniqueCode" type="hidden" id="unique-code" value="{{uniqueCode}}">
            {{/if}}

            <article id="form-section">
                <label for="favoritePlatform">What is your favorite platform?
                    {{#if answers.game_personal.favoritePlatform }}
                    <input type="text" name="favoritePlatform" id="favorite-platform"
                        value="{{answers.game_personal.favoritePlatform}}" autocomplete="off" autofocus required>
                    {{else }}
                    <input type="text" name="favoritePlatform" id="favorite-platform" placeholder="Xbox one.."
                        autocomplete="off" autofocus required>
                    {{/if}}
                </label>


                <label for="averageGameTime">What is your average game time in a day?
                    {{#if answers.game_personal.averageGameTime }}
                    <input type="text" name="averageGameTime" id="average-game-time"
                        value="{{answers.game_personal.averageGameTime}}" autocomplete="off" required>
                    {{else}}
                    <input type="text" name="averageGameTime" id="average-game-time" placeholder="2 hours.."
                        autocomplete="off" required>
                    {{/if}}
                </label>


                <fieldset id="radio-button">
                    <legend>Do you prefer multiplayer games or to go solo?</legend>

                    {{#ifEqual answers.game_personal.prefer "multiplayer" }}
                    <input type="radio" name="prefer" id="multiplayer" value="multiplayer" checked required>
                    {{else}}
                    <input type="radio" name="prefer" id="multiplayer" value="multiplayer" required>
                    {{/ifEqual}}
                    <label for="multiplayer">Multiplayer</label>

                    {{#ifEqual answers.game_personal.prefer "solo"}}
                    <input type="radio" name="prefer" id="solo" value="solo" checked required>
                    {{else}}
                    <input type="radio" name="prefer" id="solo" value="solo" required>
                    {{/ifEqual}}
                    <label for="solo">Solo</label>

                </fieldset>

                <label for="favoriteGameGenre">What is your favorite game genre?
                    {{#if answers.game_personal.favoriteGameGenre }}
                    <input list="game-genres" name="favoriteGameGenre" id="favorite-game-genre"
                        value="{{answers.game_personal.favoriteGameGenre}}" autocomplete="off" required>
                    {{else}}
                    <input list="game-genres" name="favoriteGameGenre" id="favorite-game-genre" placeholder="Shooter.."
                        autocomplete="off" required>
                    {{/if}}
                </label>


                <datalist id="game-genres">
                    <option value="Sandbox"></option>
                    <option value="Real time strategy"></option>
                    <option value="Shooters"></option>
                    <option value="Multiplayer online battle arena"></option>
                    <option value="Simulation and sports"></option>
                    <option value="Puzzlers and party games"></option>
                    <option value="Action"></option>
                    <option value="Adventure"></option>
                    <option value="Survival and horror"></option>
                    <option value="Platformer"></option>
                </datalist>

                <label for="gamertag">Your gamertag:
                    {{#if answers.game_personal.gamertag }}
                    <input type="text" name="gamertag" id="gamertag" value="{{answers.game_personal.gamertag}}"
                        autocomplete="off" required>
                    {{else}}
                    <input type="text" name="gamertag" id="gamertag" value="" autocomplete="off"
                        placeholder="xXsupergamerXx" required>
                    {{/if}}
                </label>


                <article id="buttons">
                    <a href="/personal_back/{{uniqueCode}}" tabindex="0">Previous</a>

                    <input type="submit" value="Next">
                </article>
            </article>

        </fieldset>
    </form>
</main>

<script src="/js/validation.js"></script>