{{> header}}

<main>

    <figure id="background-image" title="Gaming survey background image"></figure>

    <article id="progression">
        <label for="progress">You just started the survey</label>
        <progress id="progress" value="0" max="100"></progress>
    </article>


    <form action="/game_personal" method="POST" id="personal">
        <fieldset>
            <legend id="head-legend">
                <h1>Let's get personal</h1>
            </legend>


            {{#if uniqueCode}}
            <input name="uniqueCode" type="hidden" id="unique-code" value="{{uniqueCode}}">
            {{/if}}

            <article id="form-section">
                <label for="name" id="label">Your name:
                    {{#if answers.personal.name }}
                    <input type="text" name="name" value="{{answers.personal.name}}" autocomplete="off" required>
                    <span id="error-message"></span>
                    {{else}}
                    <input type="text" name="name" autocomplete="off" placeholder="James" required>
                    <span id="error-message"></span>
                    {{/if}}
                </label>


                <label for="surname" id="label">Your surname:
                    {{#if answers.personal.surname }}
                    <input type="text" name="surname" id="surname" value="{{answers.personal.surname}}"
                        autocomplete="off" required>
                    {{else}}
                    <input type="text" name="surname" id="surname" value="" autocomplete="off" placeholder="Bond"
                        required>
                    {{/if}}
                </label>


                <label for="age" id="label">Your age:
                    {{#if answers.personal.age }}
                    <input type="text" name="age" id="age" value="{{answers.personal.age}}" inputmode="numeric"
                        autocomplete="off" pattern="[0-9]+" required>
                    {{else}}
                    <input type="text" name="age" id="age" value="" inputmode="numeric" autocomplete="off"
                        pattern="[0-9]+" placeholder="25" required>
                    {{/if}}
                </label>


                <fieldset id="radio-button">
                    <legend>Your gender:</legend>

                    {{#ifEqual answers.personal.gender "man"}}
                    <input type="radio" name="gender" id="man" value="man" checked required>
                    {{else}}
                    <input type="radio" name="gender" id="man" value="man" required>
                    {{/ifEqual}}
                    <label for="man">Man</label>
                    {{#ifEqual answers.personal.gender "woman"}}
                    <input type="radio" name="gender" id="woman" value="woman" checked required>
                    {{else}}
                    <input type="radio" name="gender" id="woman" value="woman" required>
                    {{/ifEqual}}
                    <label for="woman">Woman</label>

                </fieldset>

                <label for="favorite-game">What is your favorite game?
                    {{#if answers.personal.favorite-game }}
                    <input type="text" name="favorite-game" id="favorite-game"
                        value="{{answers.personal.favorite-game}}" autocomplete="off" required>
                    {{else}}
                    <input type="text" name="favorite-game" id="favorite-game" placeholder="League of Legends.."
                        autocomplete="off" required>
                    {{/if}}
                </label>


                <div id="buttons">
                    <a href="/start"> Get me back </a>

                    <input type="submit" value="Next">
                </div>
            </article>

        </fieldset>
    </form>
</main>

<script src="/js/validation.js"></script>